:root {
    --green: #008e84;
    --orange: #f8991d;
    --gray: #666;
}

.main-block {
    margin-bottom: 3.75em;
    min-height: 800px;
}

/* Banner & Title */
.banner-title-block {
    height: 248px;
    width: 100%;

    background-image: url(./assets/background-green.webp);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-title-core {
    display: flex;
    align-items: center;

    height: 100%;

    color: white;

    font-size: 5em;
    font-weight: bold;
    text-shadow: #000000 0px 2px 40px;
}

/* End Title */

.site-body {
    display: flex;
    gap: 1em;

    margin-top: 3.75em;
}
.cart-space {
    flex-basis: 75%;
}
.cart-space table {
    position: relative;
    width: 100%;
    border-collapse: collapse;

    color: var(--gray);
}
.cart-space table th:nth-child(2),
.cart-space table th:nth-child(3),
.cart-space table th:nth-child(4) {
    width: 15%;
}
.cart-space table td:nth-child(2),
.cart-space table td:nth-child(3),
.cart-space table td:nth-child(4) {
    width: 15%;
}
.cart-space table th:last-child,
.cart-space table td:last-child {
    width: 21px;
    text-align: center;
}

.cart-space table .product {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.product .product-thumbnail {
    width: 40%;
    overflow: hidden;
}

.product .product-thumbnail img {
    width: 100%;
}
.product .product-thumbnail img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.cart-space table thead tr th {
    border-bottom: 1px solid var(--gray);
    padding-bottom: 1em;

    text-align: left;
}
.cart-space table td {
    height: fit-content;
    padding: 0.5em 0;
}
.cart-space table .price p:first-child {
    margin-bottom: 0.5em;
}
.cart-space table .quantity .quantity-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: fit-content;

    border: 0.1px solid var(--gray);
    border-radius: 0.25em;
}
.quantity input {
    width: 40px;
    padding: 0.5em;
    border: none;

    text-align: center;
}
.quantity button {
    width: 30px;

    border: none;
    padding: 0.5em;
    cursor: pointer;

    background-color: white;
    opacity: 0.4;
    text-align: center;
}
.quantity button:hover {
    background-color: var(--green);
    color: white;
}

.quantity .minus {
    border-right: 0.1px solid var(--gray);
}
.quantity .plus {
    border-left: 0.1px solid var(--gray);
}

.cart-space table .delete-btn button,
#delete-all-cart {
    cursor: pointer;
    background-color: white;
    color: var(--gray);
    border: none;
}
.cart-space table .delete-btn button:hover,
#delete-all-cart:hover {
    color: black;
}

#empty-cart {
    display: block;

    position: absolute;
    top: 125px;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
}
#empty-cart img {
    width: 150px;
    height: auto;

    margin-bottom: 1em;

    opacity: 0.4;
}

#empty-cart a {
    color: var(--gray);

    font-size: 1.15em;
    text-decoration: underline;
}
#empty-cart a:hover {
    text-decoration: none;
}

.order-space {
    flex-basis: 25%;
}
.order-space #bill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 350px;
    padding: 1em;

    background-color: #e5f9f5;
    color: var(--green);

    font-size: 1.15em;
    line-height: 2.15em;
}
#bill .bill__row {
    display: flex;
    justify-content: space-between;
}
#totalPayment {
    font-size: 1.5em;
    font-weight: bold;
}
